<%- include('partials/header') %>   
<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>" alt="" />
            <div class="content">
                <!-- JavaScript method to nicely display the date  -->
                <span><%= blog.created.toDateString() %> </span>
            </div>
            <div class="description">
                <p><%= blog.body %></p>
            </div>
            <div>
                <a href="blogs" class="ui grey button">Return</a>
                <!-- For the deletion we have to do it under a form -->
                <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" id="delete">
                    <button href="/blogs" class="ui red button">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>   